body {
    background-color: rgb(19, 156, 110);
    margin: 0 10%;
}

header {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
    background-color:cadetblue;
    border-bottom: 1px solid;
}

p {
    background-color: rgb(20, 102, 161);
}

section {
    text-align: center;

}
